// Base layout classes
#content {

}

.container {
  margin-left:auto;
  margin-right:auto;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  width:100%;
  @include desktop {
    width: $screen-md - $container-limiter;
  }
  @include desktop-lg {
    width: $screen-lg - $container-limiter;
  }
  &::before {
    display: none;
  }
  &::after {
    display: none;
  }
}

div.search, div.channels, div.contact {
  @extend .container;
  flex-wrap: wrap;
}

div.contact {
  width: auto!important;
}

div.home {
  margin-bottom: 40px;
}

div.user-posts {
  padding-top: 60px;
  @include tablet {
    padding-top: 97px;
  }
}

.user-posts__activity {
  @extend .container;
}

div.channels {
  .heading {
    font-weight: 300;
    font-size: 39px;
    margin-top: 60px;
    color: $dark-color;
    letter-spacing: -1.01px;
    line-height: 45px;
    margin-bottom: 45px;
    width: 100%;
    padding: 0 15px;
    @include desktop {
      padding: 0;
    }
  }
}

.card-container {
  @extend .container;
  padding: 0 15px;
  .card-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
  }
  @include desktop {
    padding: 0;
  }
}

.overview-card-container {
  @extend .card-container;
  flex-wrap: wrap;
  margin: 0px -15px;
  width: calc(100% + 30px);
}

[class*="col-"] {
  max-width: 100%;
}

.col {
  &-quarter,
  &-quarter-short {
    flex: 1 0 308px;
    @include desktop {
      flex: 1 0 25%;
    }
  }
  &-third,
  &-third-short {
    flex: 1 0 360px;
    @include tablet-lg {
      flex: 1 0;
      flex-basis: calc(33.3333% - 15px);
      max-width: 33.33%;
    }
    @include desktop {
      flex: 1 0;
      flex-basis: calc(33.3333% - 15px);
      max-width: 33.33%;
    }
  }
  &-third-spaced {
    flex: 0 1 100%;
    @include tablet {
      flex: 0 1 50%;
    }
    @include tablet-lg {
      flex: 0 1 33.33%;
    }
    @include desktop {
      flex: 0 1 25%;
    }
  }
  &-third-spaced-padding {
    padding: 0 15px;
    width: 100%;
    height: 100%;
  }
  &-third-container {
    flex: 1 0 100%;
    flex-wrap: wrap;
    display: flex;
    @include tablet-lg {
      flex: 1 0;
      flex-basis: calc(33.3333% - 10px);
      flex-wrap: nowrap;
      display: block;
      flex-direction: column;
    }
    .col-third {
      flex: 1 0 320px;
      @include tablet-lg {
        flex: 1 0 33.3333%;
      }
    }
  }
  &-half {
    flex: 1 0 308px;
    @include tablet-lg {
      flex: 1 0;
      flex-basis: calc(50% - 10px);
    }
  }
  &-two-thirds,
  &-two-thirds-short {
    flex: 1 0 100%;
    @include tablet-lg {
      flex: 0 1 66.66%;
    }
  }
  &-three-quarters {
    flex: 1 0;
    flex-basis: calc(75% - 10px);
  }
  &-full {
    flex: 1 0 100%;
  }
}
